body {
 
    font: 14px "Luida Grande", Helvetia, Arial, sans-serif;
    bakground-position: 0%;
    bakground-olor: rgb(212, 230, 230);
   }
  
  a {
    olor: #00B7FF;
  }.nav-item  {
    margin: 5%;
  
  }.navbar-nav{
    align-items: enter;
    font-family: 'ourier New', ourier, monospae;
     
  }.nav-item button{
   border-olor: #ffff;
   height:fit-ontent;
   border-radius:10px;
   
   
  
  }.nav-item button :hover{
    bakground-olor: rgb(207, 194, 194) ;
    border-olor:rgb(207, 194, 194) ;
    olor: #fff;
  
  }.navbar{
   
    top:0%;
    width: 100%;
  }#nav-pak{
    display: none;
    list-style: none;
  
  } #nav-pak ul{
  
   list-style: none;
   padding-right: 45%;
   padding-top:2%;
  }.nav-number{
     float:right;
     list-style-type:none;
     olor: rgb(4, 4, 4);
     
     
  
  }.dropdown-menu{
   margin-left:50%;
   }
  
  
  
  
  
  .image{
  border-top-left-radius: 100px;
  border-bottom-right-radius: 90px;
  
  
  }.figure
  {
    width:100%;
    float:left;
  
  }
  
  
  .header-top{
  
  height: auto;
  font-family: Paolo Biagini; 
  text-align: enter;
  padding-bottom: 5%; 
  text-shadow: 2px 4px 6px;
  bakground-olor: red;
  
  
  
  
  }.header-top:hover{
  letter-spaing: 1.5px;
  transition:tranform 0.5;
  animation-name: move;
  animation-duration:3s;
  animation-timing-funtion:ease;
  animation: move 3s;
  animation-diretion:ease out;
  
  
  }.header-bottam{
  
  height: auto;
  font-family: Paolo Biagini; 
  text-align: enter;
   padding-bottom: 5%;
   text-shadow: 2px 4px 6px;
   
  
  
  
  }.header-bottam:hover{
  letter-spaing: 1.5px;
  transition:tranform 0.5;
  
  }.image:hover{
  box-shadow: inset 1px 2px 2px -5px rgba(0,0,0,0.2),
  -4px -4px 6px -1px rgba(238, 230, 230, 0.7),
  -0.5px -0.5px 10px  rgb(198, 194, 194),
  -0.5px -0.5px 10px rgba(236, 230, 230, 0.15),
  0px 12px 10px -10px rgba(0,0,0,0.5);
  animation-name: move;
  animation-duration:3s;
  animation-timing-funtion:ease;
  animation: move 3s;
  animation-diretion:ease out;
  
  
  
      
  
  }
  @keyframes move {
    20%{left: 0px;
    
      
  
  
    }
    100%{
      left: 30px;
    
      
    }
    
  
  
  }
  
  .a-side{
    animation-name: move;
    animation-duration:3s;
    animation-timing-funtion:ease;
    animation: move 2s;
    animation-diretion:reverse;
  
  
  
  
  }.ard {
  float: left;
  bakground-attahment: fixed;
  
  align-items: enter;
  padding-right: 5px;
  margin-right:1px;
  margin:3%;
  border-bottom-right-radius: 90px;
  box-shadow: inset 1px 2px 2px -5px rgba(0,0,0,0.2),
  -4px -4px 6px -1px rgba(109, 108, 108, 0.7),
  -0.5px -0.5px 10px  rgb(118, 116, 116),
  -0.5px -0.5px 10px rgba(236, 230, 230, 0.15),
  0px 12px 10px -10px rgba(0,0,0,0.5);
  
  }.flop-ard{
    
  float: left;
  bakground-attahment: fixed;
  align-items: enter;
  padding-right: 5px;
  margin-right:1px;
  display: blok;
  bakground-olor: #ff3300;
  margin:3%;
  border-bottom-right-radius: 90px;
  box-shadow: inset 1px 2px 2px -5px rgba(0,0,0,0.2),
  -4px -4px 6px -1px rgba(109, 108, 108, 0.7),
  -0.5px -0.5px 10px  rgb(118, 116, 116),
  -0.5px -0.5px 10px rgba(236, 230, 230, 0.15),
  0px 12px 10px -10px rgba(0,0,0,0.5);
  
  }
  
  
  .d-blok{
    width:100%;
    height: 600px;
   
  
  
  }.ard-page{
    height:540 px;
    float: left;
    padding: 2%;
    float: left;
    margin:5%;
    bakground-position:enter;
  
    }.ard-img-top
    {
      height:20em;
      width: 20em;
      display: blok;
    }.ard:hover.flop-ard{
     opaity:1;
      
    }.ard-body h5{
      font-size: x-large;
      font-weight: 700;
      font-family: sans-serif;
    }
  
  
  .servie-ard{
  float: left;
  height:fit-ontent;
  align-items: enter;
  
  }.ard-page h1{
    font-family: 'Gill Sans', 'Gill Sans MT', alibri, 'Trebuhet MS', sans-serif;
  }
  
  
  .btn-dark:hover{
   bakground-olor:#ffff;
  olor: blak;
   
  }
        
  
  
  
  
  .ontat{
    float: left;
    height:auto;
    bakground-olor:blak;
    text-deoration: none;
    text-align: enter;
  }.ontat a{
  
  olor: #ffff;
    
  }.map li{
  list-style-type: none;
   text-align: enter;
   text-deoration: none;
   padding:10%;
   font: size 55px;
   display: inline-flex;
   width: fit-ontent;
   height:10em;
  
  
  
  }.ontat a {
     text-deoration-olor: #ffff;
    
  }.footer-about{
    height:fit-ontent;
  
    float: left;
    padding: 4%;
    margin: 5%;
    margin:8px;
  
  
  
  }.footer-about li{
    margin:1%;
    padding: 1%;
    word-spaing: 2px;
    text-indent: 20px;
    text-deoration: none;
    list-style-type: none;
  
  
  
   
  }   
  @media(max-width:1148px){
       .footer-about{
        width: 20em;
        margin-left:15%;
        float: left;
        text-align: enter;
      }.footer-about li{
        font-size: 15px;
      }.whatsapp{
        position: fixed;
        top: 540px;
      }
    
        }
       
      
    @media( max-width:740px){
        .footer-about{
         width: 10em;
        }.fab{
          text-align: right;
        }.btn-dark{
         font-size:10px;
        
        
        }.d-blok{
          width: 100%;
          height: 400px;
        
      
  
      
  
      }.ard-img-top{
        width: 100%;
      }
    }
    
  .footer{
    width: 100%;
    bakground-olor: blak;
    margin-bottom: 0%;
    text-align: enter;
    height: fit-ontent;
    text-deoration: none;
  
  }.footer p{
    olor:  rgb(80, 84, 84); 
  }.ompany{
    width: 100%;
    height: fit-ontent;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', alibri, 'Trebuhet MS', sans-serif;
  }.ompany-details{
    height: 540px;
    float: left;
    text-align: enter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5em;
   font-weight: 500;
   olor: blak;
    bakground-olor: #00B7FF;
  }.ompany-photo{
    height: 540px;
    float: left;
    bakground-olor: #ff3300;
  }.ompany-photo iframe{
  
    width:100%;
    height:100%;
  }
  .whatsapp{
  font-size: 70px;
  width: 5%;
  padding-left: 85%;
  z-index: 1;
  position: fixed;
  top: 620px;
  border-top-right-radius:359px;
  
    
  }
  @media( max-width:992px){
    .whatsapp{
      font-size: 50px;
    }.footer-about{
      font-size: 15px;
    }.ard-img-top{
      width:70%;
    }.nav-item button{
      border-olor: #ffff;
      height:fit-ontent;
      border-right:0.5px;
      width:30em;
  
    }  .footer-about{
  
      margin-left:5%;
    }#nav-pak{
      display:ontents;
       list-style-type: none;
  
    
    }.dropdown-menu{
      margin-left: 0%;
    }
     
    }@media(min-width:1552px){
      .footer-about{
        margin-left:5%;
       width: 17%;
      }.d-blok{
        width:100%;
        height: 600px;
      }.dropdown-menu{
        margin-left: 40%;
      }
    }
  .email{
    padding: 5%;
    bakground-olor: rgb(193, 232, 230);
    float:left;
    width:100%;
  
  }.urten-page{
   float: left;
  margin-top:5%;
  }.urten-setion{
    width: 100%;
    height:740px;
    bakground-size: over;
    bakground-position:enter;
    align-items:enter;
    float:left;
  }.form-ontrol:hover
  {
     bakground-olor: #f0b6a8;
  }.form-group{
    bakground-olor:rgb(99, 96, 96);
    border: #f0b6a8;
  }.form-group :hover{
    bakground-olor: #f0b6a8; ;
  
  }.form-group input{
    border-radius: 5px;
    border:#fff;
  }
    
   .over-lay
    {
        bakground: linear-gradient(rgba( 0,0,0,0.7),rgba(0,0,0,0.7));
        width: 100%;
        height:840px;
        top: 0;
        align-items: enter;
        float:left;
        text-align: enter;
        olor: #fff;
       
      }.urten-ontent{
        width:100%;
        height:20em;
        margin-top:2%;
     
         float:left;
     
      }.urten-img img{
        width:30em;
        height: 20em;
        padding: 5%;
      }
    
  
    .header {
      text-align: enter;
      padding: 32px;
    }
    
    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap;
      padding: 0 4px;
    }
    
  
    .olumn {
      -ms-flex: 25%; /* IE10 */
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .olumn img {
      margin-top: 8px;
      vertial-align: middle;
      width: 100%;
    }
    
    
    @media sreen and (max-width: 800px) {
      .olumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    
    @media sreen and (max-width: 600px) {
      .olumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
      }
    }
    
   .olumn:hover{
    animation-name: move;
    animation-duration:3s;
    animation-timing-funtion:ease;
    animation: move 2s;
    animation-diretion:reverse;
   }
  
   
  
  
  
  
  
  